<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/output.css" />
    <title>@ViewBag.Title</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="h-full">
    @RenderBody()
</body>
</html>
