<h3 class="">AI Used Car Finder</h3>
<h1 class="text-5xl title">RideRight</h1>
<h3 class="sub-title">Reliable Used Cars</h3>
<p class="py-10 text-center">RideRight helps users find trustworthy used vehicles by analyzing Consumer Reports–approved models and public car listing data to identify the best deals.</p>
<button class="px-4 py-9 bg-blue-900 rounded-2xl border-none text-lg text-grey-900 cursor-pointer">See Top Picks</button>

