@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    height: 100vh;
    background: url('/Images/carlot.webp') center center / cover no-repeat;

}
body{
    height: 100vh;
}
.root{
    height: 100%;
}

.title{

}
.sub-title{

}